<%- include('../../partials/main', { pageTitle: 'Add new Address' }) %>

    <div class="page-body">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <div class="card">
                                <div class="card-body title-header option-title">
                                    <h5 style="font-size: calc(20px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));">
                                        Add New Address</h5>
                                </div>
                            </div>
                            <form class="theme-form theme-form-2 mega-form" id="productForm" method="POST"
                                action="/admin/address/add-address">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Address Information</h5>
                                        </div>

                                        <div class="row">

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-lg-3 col-md-3 mb-0">Email-Id</label>
                                                <div class="col-md-10 col-lg-9">
                                                    <div class="col-sm-9">
                                                        <select class="js-example-basic-single w-100" name="email"
                                                            id="unit">
                                                            <option
                                                                style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));"
                                                                value="none" disabled selected>-- Select Email ID --
                                                            </option>

                                                            <% if (userAll && userAll.length> 0) { %>
                                                                <% userAll.forEach((row, index)=> { %>
                                                                    <option
                                                                        style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));"
                                                                        value="<%= row.email %>">
                                                                        <%= row.email %>
                                                                    </option>
                                                                    <% }) %>
                                                                        <% } %>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-lg-3 col-md-3 mb-0">
                                                    Address Type</label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="address_type"
                                                        placeholder="Enter your Address Type">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-lg-3 col-md-3 mb-0">
                                                    Address 1</label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text"
                                                        placeholder="Enter your Address 1" name="address_1">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">Address
                                                    2</label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="address_2"
                                                        placeholder="Enter your Address 2">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">Area
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="area"
                                                        placeholder="Enter your Area">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">City
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="city"
                                                        placeholder="Enter your City">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">Pin
                                                    Code
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="number" name="pincode"
                                                        minlength="4" maxlength="12" placeholder="Enter your PinCode">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">State
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="state"
                                                        placeholder="Enter your State">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">Country
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="country"
                                                        placeholder="Enter your Country">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-4 row align-items-center">
                                            <button class="btn btn-solid" type="submit">Add Address</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Product Add End -->

        <!-- footer Start -->
        <%- include('../../partials/footer') %>
            <!-- footer En -->
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%- include('../../partials/end') %>