<%- include('../../partials/main', { pageTitle: 'All Unbilled Inventory' }) %>
<link rel="stylesheet" href="/public/css/style2.css">

<style>
    .theme-table tbody tr th:last-child, .theme-table tbody tr td:last-child {
    text-align: center;
}
</style>

            <!-- index body start -->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table">
                                            <div>
                                                <h2>All Unbilled Inventory</h2>
                                               </div>
                                               <br>
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Date</th>
                                                    <th style="text-align: center;">Bill No</th>
                                                    <th style="text-align: center;">Vendor</th>
                                                    <th style="text-align: center;">Products</th>
                                                    <th style="text-align: center;">Amount</th>
                                                    <th style="text-align: center;">Payment</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                
                                                    <% if (inventory != '') { %>
                                                        <% inventory.forEach((row, index) => { %>
                                                            <tr>
                                                                <td style="text-align: center;"><%= row.date.toLocaleDateString('en-UK',options) %></td>
                                                                <td style="text-align: center;"><%= row.bill_no %></td>
                                                                <td style="text-align: center;"><%= row.vendor %></td>
                                                                <td style="text-align: center;"><%= row.name %></td>
                                                                <td style="text-align: center;"><%= row.amount %></td>
                                                                <td style="text-align: center;"><%= row.payment_method %></td>
                                                            </tr>
                                                        <% }) %>
                                                    <% }else{ %>
                                                        <tr>
                                                            <td colspan="7" class="text-center">No Transactions Available</td>
                                                        </tr>
                                                    <% } %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->
                
                 <!-- footer start-->
                 <%- include('../../partials/footer')%>
                 <!-- footer End-->

            </div>
            <!-- index body end -->
            
            <!-- Include the necessary ApexCharts and jQuery libraries -->
            <script src="/public/js/chart/apex-chart/apex-chart1.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

            <script>
                // Function to get date formatted as 'DD MMM'
                function getFormattedDate(date) {
                    return date.toLocaleDateString('en-US', { day: '2-digit', month: 'short' });
                }

                // Function to update the chart with data
                function updateChart(data) {
                    var options = {
                        series: [{
                            data: data.map(entry => entry.totalRevenue)
                        }],
                        chart: {
                            height: 250,
                            type: 'bar',
                        },
                        colors: ['#ed702d', '#2483e2', '#3d3d3d'],
                        plotOptions: {
                            bar: {
                                columnWidth: '25%',
                                distributed: true,
                                fill: {
                                    colors: ['#ed702d', '#2483e2', '#3d3d3d'], // Set solid colors for the bars
                                }
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        legend: {
                            show: false
                        },
                        xaxis: {
                            categories: data.map(entry => entry.date),
                            labels: {
                                style: {
                                    colors: ['#ed702d', '#2483e2','#3d3d3d', '#3d3d3d', '#3d3d3d', '#3d3d3d', '#3d3d3d'],
                                    fontSize: '12px'
                                }
                            }
                        },
                    };

                    var chart = new ApexCharts(document.querySelector("#sales-purchase-chart"), options);
                    chart.render();
                }

                // Get current date
                var currentDate = new Date();

                // Generate previous 6-day date range
                var dateRange = [];
                for (var i = 6; i >= 0; i--) {
                    var date = new Date(currentDate);
                    console.log(date)
                    date.setDate(currentDate.getDate() - i);
                    dateRange.push(getFormattedDate(date));
                }

                // Call your API to get data
                fetch('/admin/auth/sales-data')
                    .then(response => response.json())
                    .then(data => {
                        // Assuming your API response is an array with objects having 'date' and 'totalRevenue' properties
                        // Example API response: [{ date: '01 Jan', totalRevenue: 100 }, { date: '02 Jan', totalRevenue: 150 }, ...]
                        updateChart(data);
                    })
                    .catch(error => console.error('Error fetching data from API:', error));
            </script>

<%- include('../../partials/end')%>