<%- include('../../partials/main', { pageTitle: 'Add new Education Details' }) %>

    <div class="page-body">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <div class="card">
                                <div class="card-body title-header option-title">
                                    <h5 style="font-size: calc(20px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));">
                                        Add New Education Details</h5>
                                </div>
                            </div>
                            <form class="theme-form theme-form-2 mega-form" id="productForm" method="POST"
                                action="/admin/education/add-education">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Education Details Information</h5>
                                        </div>

                                        <div class="row">
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-lg-3 col-md-3 mb-0">Email-Id</label>
                                                <div class="col-md-10 col-lg-9">
                                                    <div class="col-sm-9">
                                                        <select class="js-example-basic-single w-100" name="email"
                                                            id="unit">
                                                            <option
                                                                style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));"
                                                                value="none" disabled selected>-- Select Email ID --
                                                            </option>

                                                            <% if (userAll && userAll.length> 0) { %>
                                                                <% userAll.forEach((row, index)=> { %>
                                                                    <option
                                                                        style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));"
                                                                        value="<%= row.email %>">
                                                                        <%= row.email %>
                                                                    </option>
                                                                    <% }) %>
                                                                        <% } %>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-lg-3 col-md-3 mb-0">
                                                    University Name</label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text"
                                                        placeholder="Enter your University Name" name="university_name"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">Course
                                                    Name</label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="course_name"
                                                        placeholder="Enter your Course Name" required>
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label
                                                    class="col-lg-3 col-md-3 col-form-label form-label-title">Description
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <textarea class="form-control" type="text" rows="3" name="desc"
                                                        placeholder="Enter your Day" required>
                                                        </textarea>
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">Start
                                                    Date
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="date" name="start_date"
                                                        placeholder="Enter your Date" required>
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-3 col-md-3 col-form-label form-label-title">End
                                                    Date
                                                </label>
                                                <div class="col-md-9 col-lg-9">
                                                    <input class="form-control" type="date" name="end_date"
                                                        placeholder="Enter your Date" required>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4 row align-items-center">
                                    <button class="btn btn-solid" type="submit">Add Education Details</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

    <!-- footer Start -->
    <%- include('../../partials/footer') %>
        <!-- footer En -->
        </div>

        <script>
            // Update Total Area
            function updateTotalArea() {
                var width = parseFloat(document.getElementById('width').value) || 0; // Default to 1 if width is 0
                var height = parseFloat(document.getElementById('height').value) || 0; // Default to 1 if height is 0
                var quantity = parseFloat(document.getElementById('quantity').value) || 0;
                var total_area = (width * height * quantity).toFixed(2);
                document.getElementById('total_area').value = total_area;
            }

            // Update Total Amount
            function updateTotalAmount() {
                var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
                var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
                var quantity = parseFloat(document.getElementById('quantity').value) || 0;
                var rate = parseFloat(document.getElementById('rate').value) || 0;
                var total_amount = (width * height * quantity * rate).toFixed(2);
                document.getElementById('total_amount').value = total_amount;
            }

            // Update Rate
            function updateRate() {
                var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
                var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
                var quantity = parseFloat(document.getElementById('quantity').value) || 0;
                var amount = parseFloat(document.getElementById('total_amount').value) || 0;
                var rate = (amount / (width * height * quantity)).toFixed(2);
                document.getElementById('rate').value = rate;
            }

            // Event listeners for input fields
            document.getElementById('width').addEventListener('input', updateTotalArea);
            document.getElementById('height').addEventListener('input', updateTotalArea);
            document.getElementById('quantity').addEventListener('input', updateTotalArea);

            document.getElementById('width').addEventListener('input', updateTotalAmount);
            document.getElementById('height').addEventListener('input', updateTotalAmount);
            document.getElementById('quantity').addEventListener('input', updateTotalAmount);
            document.getElementById('rate').addEventListener('input', updateTotalAmount);

            document.getElementById('width').addEventListener('input', updateRate);
            document.getElementById('height').addEventListener('input', updateRate);
            document.getElementById('quantity').addEventListener('input', updateRate);
            document.getElementById('total_amount').addEventListener('input', updateRate);
        </script>



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <%- include('../../partials/end') %>